<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939384155187-2bcbrhag6mrhtckqvfuu0vir9de0dhce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939384155187-2bcbrhag6mrhtckqvfuu0vir9de0dhce</string>
	<key>API_KEY</key>
	<string>AIzaSyBzxDCmhDU-5g3bvobc0Bo8bIBWeJuhQOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>939384155187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.classpath</string>
	<key>PROJECT_ID</key>
	<string>classpath-edb43</string>
	<key>STORAGE_BUCKET</key>
	<string>classpath-edb43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939384155187:ios:f0436bc2c4957300</string>
	<key>DATABASE_URL</key>
	<string>https://classpath-edb43.firebaseio.com</string>
</dict>
</plist>